<!DOCTYPE html>

    <html lang="en">
    <head>
        {% load static %}
        {% load socialaccount %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AJWA TECH-Register Page</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/login/register.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        

    <nav class="navbar">
            <span class="navbar-title">AJWA TECH</span>
    </nav>

    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form method="post" id="signup">
                    {% csrf_token %}
                    {% for message in messages %}
                        <div class="{% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    <div class="field input-field">
                        <input type="text" name="username"  placeholder="Username" class="input" >
                    </div>
                    <div class="field input-field">
                        <input type="email" name="email"  placeholder="Email" class="input" >
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">
                        <input name="mobile" type="tel" placeholder="Mobile Number" maxlength="12" class="input">
                        
                    </div>

                    <div class="field button-field">
                        <input class="submit" type="submit" value="Register">
                    </div>
                </form>
                

                <div class="form-link">
                    <span>Already have an account? <a href="{% url 'userlog' %}" >Login</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Login with Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="{% provider_login_url 'google' method='oauth2' %}" class="field google">
                    <img src="{% static 'img/login/google.png' %}" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>

        </div>
    </section>

    <!-- JavaScript -->
    <script src="{% static '/js/login/script.js' %}"></script>

        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script >
        $().ready(function () {

            $("#signup").validate({
        
                // In 'rules' user have to specify all the 
                // constraints for respective fields
                rules: {
                    username: {
                        required: true,
                        minlength: 4, // For length of lastname
                        validUsername: true, // Custom rule for valid username
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        strongPassword: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    mobile:{
                        required: true,
                        indianMobileNumber: true,
                    },
                },
                // In 'messages' user have to specify message as per rules
                messages: {
                    username: {
                        required: " Please enter your username",
                        minlength:" Your username must consist of at least 4 characters",
                        validUsername: "Please enter a valid username"
                    },
                    password: {
                        required: " Please enter a password",
                        minlength:" Your password must be consist of at least 6 characters",
                        strongPassword:" Your password is weak",
                    },
                    email: {
                        required: " Please enter your email id",
                        email: " Email that entered you is not a valid email",
                    },
                    mobile: {
                        required: " Please enter your mobile number",
                        indianMobileNumber: "Please enter a valid 10-digit Indian mobile number",
                    },
                }
            });
            $.validator.addMethod(
                "validUsername",
                function (value, element) {
                    // Use a regular expression to check for valid username
                    return /^[a-zA-Z]+(?:[a-zA-Z0-9]*[0-9])?$/.test(value);
                },
                " Please enter a valid username without special characters"
            );
            $.validator.addMethod(
            "indianMobileNumber",
            function (value, element) {
                // Use a regular expression to check for a 10-digit Indian mobile number
                return /^[6789]\d{9}$/.test(value);
            },
            "Please enter a valid 10-digit Indian mobile number"
            );
            
        });
    </script>
    


    <script>
        // Wait for the DOM to be ready
        document.addEventListener('DOMContentLoaded', function() {
            // Select all elements with the class 'messages' (adjust as needed)
            var messageElements = document.querySelectorAll('.success-message,.error-message');

            // Set a timeout to hide each message after 5000 milliseconds (5 seconds)
            messageElements.forEach(function(messageElement) {
                setTimeout(function() {
                    messageElement.style.display = 'none';
                }, 5000);  // Adjust the time as needed (in milliseconds)
            });
        });
    </script>
</body>
</html>