
<!DOCTYPE html>
<html lang="en">


<!-- profile22:59-->
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/adminuser/assets//img/favicon.ico">
    <title>AJWA TECH|userprofile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'css/adminuser/assets//js/html5shiv.min.js' %}"></script>
		<script src="{% static 'css/adminuser/assets//js/respond.min.js' %}"></script>
	<![endif]-->
    <style>
        .page-wrapper {
            left: 0;
            margin-left: 60px;
            padding-top: 50px;
            position: relative;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        .page-wrapper > .content {
            padding: 30px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px; /* Adjust padding as needed */
        }
        
        .brand-title {
            color: white;
            font-size: 30px; /* Adjust font size as needed */
        }
        .warning-message {
            font-size: x-large;
            text-align: center;
            color: orange;
        }
        @media (min-width: 576px) and (max-width: 992px) {
            .header-left {
                order: 2;
                text-align: center; /* Center the brand title */
            }
        
            .mobile_btn {
                order: 1;
                margin-left: auto; /* Move the toggle button to the right */
            }
        
            .user-menu {
                display: none; /* Hide the user menu on medium screens */
            }
        
            .mobile-user-menu {
                display: block; /* Show the mobile user menu on medium screens */
                margin-left: auto; /* Move the mobile user menu to the right */
            }
        }
    </style>
    
</head>

<body>
    <div class="main-wrapper">
        <div class="header" style="background-color: #D19C97 ;">
			<div class="header-left">
                <span class="brand-title">AJWA TECH</span>
				</div>
			<a id="mobile_btn" class="mobile_btn float-left" href=""><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static 'css/adminuser/assets//img/user.jpg' %}" width="40" alt="Admin">
							
                            <span class="status online"></span>
                            
                        </span>
                        <span>User</span>
                    </a>
					<div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'index' %}">Home</a>
						<a class="dropdown-item" href="{% url 'userprofile' %}">User Home</a>
						
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'index' %}">Home</a>
                    <a class="dropdown-item" href="">View Profile</a>
                    
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Add Profile</h4>
                    </div>
                </div>
                <form method="post" id="adduserAddress">
                    {% csrf_token %}
                    {% for message in messages %}
                        <div class="{% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% elif message.tags == 'warning' %}warning-message{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    <!-- <div class="card-box">
                        <h3 class="card-title">Basic Informations</h3>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile-img-wrap" style="height:auto;width:auto;">
                                    <label class="focus-label">Profile Image:</label>
                                    <input type="file" name="profile_pic" class="form-control-file form-control-sm" accept="image/*">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-focus focused">
                                                <label class="focus-label">Name</label>
                                                <input type="text" class="form-control floating" value="{{ users.name }}" name="name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus focused">
                                                <label class="focus-label">Mobile</label>
                                                <input type="number" class="form-control floating" value="{{ users.mobile }}" name="mobile">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus focused">
                                                <label class="focus-label">Birth Date</label>
                                                <input class="form-control floating" type="date" placeholder="Enter your birthdate" name="dob" value="YYYY-MM-DD">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus select-focus focused">
                                                <label class="focus-label">Gender</label>
                                                <select class="select form-control floating select2-hidden-accessible" tabindex="-1" aria-hidden="true" name="gender">
                                                    <option value="Select Your gender" selected disabled>Gender</option>
                                                    
                                                    {% for choice in gender.Gender.choices %}
                                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus focused">
                                                <label class="focus-label">Email</label>
                                                <input class="form-control floating" type="text" value="{{ users.user.email }}" name="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                    <div class="card-box">
                        <h3 class="card-title">Primary Address:</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Address</label>
                                    <input type="text" class="form-control floating" placeholder="Enter Your street address" name="street_address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">City</label>
                                    <input type="text" class="form-control floating" placeholder="Enter your city or town" name="city">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">District</label>
                                    <input type="text" class="form-control floating" placeholder="Enter your district" name="district">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">State</label>
                                    <input type="text" class="form-control floating" placeholder="Enter your state" name="state">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Country</label>
                                    <input type="text" class="form-control floating" placeholder="Enter your country" name="country">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Zip code</label>
                                    <input type="text" class="form-control floating" placeholder="Enter your zip code" name="zip_code">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-focus focused">
                                    <label>
                                    Primary Address:&nbsp;&nbsp;
                                    <input type="checkbox" class=""  name="is_primary">
                                </label>
                                </div>
                            </div>

                            <!-- <div class="add-more">
                                <a href="" class="btn btn-primary"><i class="fa fa-plus"></i> Add More Address </a>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="card-box">
                        <h3 class="card-title">Education Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Institution</label>
                                    <input type="text" class="form-control floating" value="Oxford University">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Subject</label>
                                    <input type="text" class="form-control floating" value="Computer Science">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Starting Date</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control floating datetimepicker" value="01/06/2002">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Complete Date</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control floating datetimepicker" value="31/05/2006">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Degree</label>
                                    <input type="text" class="form-control floating" value="BE Computer Science">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Grade</label>
                                    <input type="text" class="form-control floating" value="Grade A">
                                </div>
                            </div>
                        </div>
                        <div class="add-more">
                            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add More Institute</a>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Experience Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Company Name</label>
                                    <input type="text" class="form-control floating" value="Digital Devlopment Inc">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Location</label>
                                    <input type="text" class="form-control floating" value="United States">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Job Position</label>
                                    <input type="text" class="form-control floating" value="Web Developer">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Period From</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control floating datetimepicker" value="01/07/2007">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus focused">
                                    <label class="focus-label">Period To</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control floating datetimepicker" value="08/06/2018">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add-more">
                            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add More Experience</a>
                        </div>
                    </div> -->
                    <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'css/adminuser/assets//js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'css/adminuser/assets//js/popper.min.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/app.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        $().ready(function () {
            $("#adduserAddress").validate({
                rules: {
                    street_address: {
                        required: true,
                        validDescription: true,
                    },
                    city: {
                        required: true,
                        validProductName: true,
                    },
                    district: {
                        required: true,
                        validProductName: true,
                    },
                    state: {
                        required: true,
                        validProductName: true,
                    },
                    country: {
                        required: true,
                        validProductName:true,
                    },
                    zip_code:{
                        required: true,
                        minlength: 6, // Minimum length of 6 digits
                        maxlength: 6, // Maximum length of 6 digits
                        min: 111111,
                        validNumber: true,
                    }
                },
                messages: {
                    street_address: {
                        required: "This is a required Field",
                        validDescription: "Please enter a valid street address",
                    },
                    city: {
                        required: "This is a required Field",
                        validProductName:"please enter a valid city",
                    },
                    district: {
                        required: "This is a required Field",
                        validProductName:"please enter a valid district",
                    },
                    state: {
                        required: "This is a required Field",
                        validProductName:"please enter a valid state",
                    },
                    country: {
                        required: "This is a required Field",
                        validProductName:"please enter a valid country",
                    },
                    zip_code:{
                        required: "please enter 6 digit pincode",
                        validNumber:"Please enter a valid indian zip code" ,
                    }
                },
            });
    
            $.validator.addMethod(
                "validProductName",
                function (value, element) {
                    return /^[a-zA-Z][a-zA-Z0-9\s]*$/.test(value);
                },
                "Please enter a valid category name (only characters)."
            );
            $.validator.addMethod(
                "validNumber",
                function (value, element) {
                    return /^(111111|\d{6,})$/.test(value);
                },
                "Please enter a valid product price (non negative number)."
            );
            $.validator.addMethod(
                "validDescription",
                function (value, element) {
                    // Add your custom validation logic for product description
                    // You can adjust this according to your requirements
                    return /^(?!\.+$)(?=.*[^\s])[^]*$/.test(value);
                },
                "Please enter a valid product description."
            );
            $("#product_stock").on("input", function () {
                var stockValue = parseInt($(this).val());
                var isAvailableCheckbox = $("#product_available");
    
                // Update the isAvailable checkbox based on the stock value
                isAvailableCheckbox.prop("checked", stockValue > 0);
            });
    
        });
    </script>
    <script>
        // Wait for the DOM to be ready
        document.addEventListener('DOMContentLoaded', function() {
            // Select all elements with the class 'messages' (adjust as needed)
            var messageElements = document.querySelectorAll('.success-message,.error-message,.warning-message');
    
            // Set a timeout to hide each message after 5000 milliseconds (5 seconds)
            messageElements.forEach(function(messageElement) {
                setTimeout(function() {
                    messageElement.style.display = 'none';
                }, 5000);  // Adjust the time as needed (in milliseconds)
            });
        });
    </script>
</body>


<!-- profile23:03-->
</html>