<!DOCTYPE html>
<html lang="en">


<!-- profile22:59-->
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/adminuser/assets//img/favicon.ico">
    <title>AJWA TECH|userprofile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/style.css' %}">
    
<style>
    .page-wrapper {
        left: 0;
        margin-left: 60px;
        padding-top: 50px;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .page-wrapper > .content {
        padding: 30px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; /* Adjust padding as needed */
    }
    
    .brand-title {
        color: white;
        font-size: 30px; /* Adjust font size as needed */
    }
    @media (min-width: 576px) and (max-width: 992px) {
        .header-left {
            order: 2;
            text-align: center; /* Center the brand title */
        }
    
        .mobile_btn {
            order: 1;
            margin-left: auto; /* Move the toggle button to the right */
        }
    
        .user-menu {
            display: none; /* Hide the user menu on medium screens */
        }
    
        .mobile-user-menu {
            display: block; /* Show the mobile user menu on medium screens */
            margin-left: auto; /* Move the mobile user menu to the right */
        }
    }
</style>
    
</head>

<body>
    <div class="main-wrapper">
        <div class="header" style="background-color: #D19C97 ;">
			<div class="header-left">
                <span class="brand-title">AJWA TECH</span>
			</div>
			<a id="mobile_btn" class="mobile_btn float-left" href=""><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static 'css/adminuser/assets//img/user.jpg' %}" width="40" alt="Admin">
							
                            <span class="status online"></span>
                            
                        </span>
                        <span>User</span>
                    </a>
					<div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'index' %}">Home</a>
						<a class="dropdown-item" href="{% url 'userprofile' %}">User Profile</a>
						
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'index' %}">Home</a>
                    <a class="dropdown-item" href="{% url 'addprofile' %}">Add Profile</a>
                    
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    
                </div>
            </div>
        </div>
        
        <div class="page-wrapper">
            <div class="content">
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Order Detail</h2>
                            <div class="order-detail">
                                <div class="detail"><strong>Product Images:</strong> {% for order_item in order.order_items.all %}
                                    {% for Images in order_item.product.images.all %}
                                    <img src="{{Images.image.url}}" alt="" style="height: 80px;">
                                    {% endfor %}
                                    {% endfor %}</div>
                                <div class="detail mt-4"><strong>Product:</strong> {% for order_item in order.order_items.all %}{{ order_item.product.name }}{% endfor %}</div>
                                <div class="detail"><strong>Quantity:</strong> {% for order_item in order.order_items.all %}{{ order_item.quantity }}{% endfor %}</div>
                                <div class="detail"><strong>Transaction ID:</strong> {{ order.transaction_id }}</div>
                                <div class="detail">
                                    <strong>Order Status:</strong>
                                    {% if order.Order_status == 0 %}
                                    Pending
                                    {% elif order.Order_status == 1 %}
                                    Shipped
                                    {% elif order.Order_status == 2 %}
                                    Delivered
                                    {% elif order.Order_status == 3 %}
                                    Cancelled
                                    {% elif order.Order_status == 4 %}
                                    Returned
                                    {% else %}
                                    Invalid
                                    {% endif %}
                                </div>
                                <div class="detail">
                                    <strong>Payment Method:</strong>
                                    {% if order.payment_method == 0 %}
                                    Razorpay
                                    {% elif order.payment_method == 1 %}
                                    Cash on Delivery
                                    {% elif order.payment_method == 2 %}
                                    Wallet
                                    {% else %}
                                    Invalid
                                    {% endif %}
                                </div>
                                <div class="detail"><strong>Date Ordered:</strong> {{ order.date_ordered }}</div>
                                <div class="detail"><strong>Total Price:</strong> {{ order.total_price }}</div>
                                
                                {% if order.Order_status == 2  %}
                                        <td class="align-middle"><a href="">Delivered</a></td>
                                        {% elif order.payment_status == 2 %}
                                        <td class="align-middle"><a href="">Payment Failed</a></td>
                                        {% elif order.Order_status == 4 %}
                                        <td class="align-middle"><a href=""></a></td>
                                        {% elif order.is_cancel %}
                                        <td class="align-middle"><a href="">cancelled</a></td>
                                        {% else %}
                                        <td class="align-middle">
                                            <button><a href="#" class="cancel-order" data-order-id="{{ order.id }}">Cancel</a></button>
                                        </td>
                                        
                                        
                                        {% endif %}
                                
                                <td class="align-middle">
                                    {% if order.Order_status == 2  %}
                                    <button><a href="{% url 'returnorder' pk=order.id %}" class="return-order" data-order-id="{{ order.id }}">Return</a></button>
                                    {% elif order.Order_status == 4 %}
                                    <a href="" class="" >Returned</a>
                                    {% else %}
                                    <a href="" class="" ><br></a>
                                    {% endif %}
                                </td>
                                <br>
                                <a href="{% url 'invoice' order_id=order.id %}">Invoice</a>
                    
                                
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row px-xl-5">
                    <div class="col-lg-12 table-responsive mb-5">
                        <table class="table table-bordered text-center mb-0">
                            <!-- <thead class="bg-secondary text-dark">
                                <tr>
                                    <th>Product image</th>
                                    <th>Products</th>
                                    <th>Quantity</th>
                                    <th>Transaction Id</th>
                                    <th>Order Status</th>
                                    <th>Payment Method</th>
                                    <th>Date Ordered</th>
                                    <th>Total Price</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead> -->
                            <!-- <tbody class="align-middle"> -->
                                
                                <!-- <tr>
                                    <td class="align-middle">{% for order_item in order.order_items.all %}
                                        {% for Images in order_item.product.images.all %}
                                        <img src="{{Images.image.url}}" alt="" style="height: 80px;">
                                        {% endfor %}
                                        {% endfor %}</td>
                                    <td class="align-middle">{% for order_item in order.order_items.all %}{{ order_item.product.name }}{% endfor %}</td>
                                    <td class="align-middle">{% for order_item in order.order_items.all %}{{ order_item.quantity }}{% endfor %}</td>
                                    <td class="align-middle">
                                        {{ order.transaction_id }}
                                    </td>
                                    <td class="align-middle">
                                        {% if order.Order_status == 0 %}
                                        Pending
                                        {% elif order.Order_status == 1 %}
                                        Shipped
                                        {% elif order.Order_status == 2 %}
                                        Delivered
                                        {% elif order.Order_status == 3 %}
                                        Cancelled
                                        {% elif order.Order_status == 4 %}
                                        Returned
                                        {% else %}
                                        Invalid
                                        {% endif %}</td>
                                    <td class="align-middle">{% if order.payment_method == 0 %}
                                        Razorpay
                                        {% elif order.payment_method == 1 %}
                                        Cash on Delivery
                                        {% elif order.payment_method == 2 %}
                                        Wallet
                                        {% else %}
                                        Invalid
                                        {% endif %}</td>
                                        <td class="align-middle">{{ order.date_ordered }}</td>
                                        <td class="align-middle">{{ order.total_price }}</td>

                                        {% if order.Order_status == 2  %}
                                        <td class="align-middle"><a href="">Delivered</a></td>
                                        {% elif order.payment_status == 2 %}
                                        <td class="align-middle"><a href="">Payment Failed</a></td>
                                        {% elif order.Order_status == 4 %}
                                        <td class="align-middle"><a href=""></a></td>
                                        {% elif order.is_cancel %}
                                        <td class="align-middle"><a href="">cancelled</a></td>
                                        {% else %}
                                        <td class="align-middle">
                                            <button><a href="#" class="cancel-order" data-order-id="{{ order.id }}">Cancel</a></button>
                                        </td>
                                        
                                        
                                        {% endif %}

                                        <td class="align-middle">
                                            {% if order.Order_status == 2  %}
                                            <button><a href="{% url 'returnorder' pk=order.id %}" class="return-order" data-order-id="{{ order.id }}">Return</a></button>
                                            {% elif order.Order_status == 4 %}
                                            <a href="" class="" >Returned</a>
                                            {% else %}
                                            <a href="" class="" ><br></a>
                                            {% endif %}
                                        </td>
                                </tr>   -->
                                <!-- {% for order_item in order.order_items.all %}
                                <tr>
                                    <td class="align-middle">
                                        {% for Images in order_item.product.images.all %}
                                            <img src="{{ Images.image.url }}" alt="" style="height: 80px;">
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle">{{ order_item.product.name }}</td>
                                    <td class="align-middle">{{ order_item.quantity }}</td>
                                    <td class="align-middle">{{ order.transaction_id }}</td>
                                    <td class="align-middle">
                                        {% if order.Order_status == 0 %}
                                            Pending
                                        {% elif order.Order_status == 1 %}
                                            Shipped
                                        {% elif order.Order_status == 2 %}
                                            Delivered
                                        {% elif order.Order_status == 3 %}
                                            Cancelled
                                        {% elif order.Order_status == 4 %}
                                            Returned
                                        {% else %}
                                            Invalid
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if order.payment_method == 0 %}
                                            Razorpay
                                        {% elif order.payment_method == 1 %}
                                            Cash on Delivery
                                        {% elif order.payment_method == 2 %}
                                            Wallet
                                        {% else %}
                                            Invalid
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ order.date_ordered }}</td>
                                    <td class="align-middle">{{ order.total_price }}</td>
                                    <td class="align-middle">
                                        {% if order.Order_status == 2 %}
                                            <a href="">Delivered</a>
                                        {% elif order.payment_status == 2 %}
                                            <a href="">Payment Failed</a>
                                        {% elif order.Order_status == 4 %}
                                            
                                        {% elif order.is_cancel %}
                                            <a href="">Cancelled</a>
                                        {% else %}
                                            <button><a href="#" class="cancel-order" data-order-id="{{ order.id }}">Cancel</a></button>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if order.Order_status == 2 %}
                                            <button><a href="{% url 'returnorder' pk=order.id %}" class="return-order" data-order-id="{{ order.id }}">Return</a></button>
                                        {% elif order.Order_status == 4 %}
                                            <a href="" class="">Returned</a>
                                        {% else %}
                                            <a href="" class=""><br></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %} -->

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product Image</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <!-- <th colspan="6">Order Details (Common for All Products)</th>
                                        <th colspan="2">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in order.order_items.all %}
                                        <tr>
                                            <!-- Product Image -->
                                            <td class="align-middle">
                                                {% for Images in order_item.product.images.all %}
                                                    <img src="{{ Images.image.url }}" alt="" style="height: 80px;">
                                                {% endfor %}
                                            </td>
                                            <!-- Product Name -->
                                            <td class="align-middle">{{ order_item.product.name }}</td>
                                            <!-- Product Quantity -->
                                            <td class="align-middle">{{ order_item.quantity }}</td>
                                            <!-- Common Order Details (spanned across multiple columns) -->
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <!-- <td colspan="6" class="align-middle">
                                                {{ order.transaction_id }}<br>
                                                {% if order.Order_status == 0 %}
                                                    Pending
                                                {% elif order.Order_status == 1 %}
                                                    Shipped
                                                {% elif order.Order_status == 2 %}
                                                    Delivered
                                                {% elif order.Order_status == 3 %}
                                                    Cancelled
                                                {% elif order.Order_status == 4 %}
                                                    Returned
                                                {% else %}
                                                    Invalid
                                                {% endif %}<br>
                                                {% if order.payment_method == 0 %}
                                                    Razorpay
                                                {% elif order.payment_method == 1 %}
                                                    Cash on Delivery
                                                {% elif order.payment_method == 2 %}
                                                    Wallet
                                                {% else %}
                                                    Invalid
                                                {% endif %}<br>
                                                {{ order.date_ordered }}<br>
                                                {{ order.total_price }}
                                            </td>
                                            
                                            <td colspan="2" class="align-middle">
                                                {% if order.Order_status == 2 %}
                                                    <a href="">Delivered</a>
                                                {% elif order.payment_status == 2 %}
                                                    <a href="">Payment Failed</a>
                                                {% elif order.Order_status == 4 %}
                                                    
                                                {% elif order.is_cancel %}
                                                    <a href="">Cancelled</a>
                                                {% else %}
                                                    <button><a href="#" class="cancel-order" data-order-id="{{ order.id }}">Cancel</a></button>
                                                {% endif %}
                                                {% if order.Order_status == 2 %}
                                                    <button><a href="{% url 'returnorder' pk=order.id %}" class="return-order" data-order-id="{{ order.id }}">Return</a></button>
                                                {% elif order.Order_status == 4 %}
                                                    <a href="" class="">Returned</a>
                                                {% else %}
                                                    <a href="" class=""><br></a>
                                                {% endif %}
                                            </td> -->
                                            <td class="align-middle">
                                                <strong>Transaction Id:&nbsp;&nbsp;</strong>{{ order.transaction_id }}
                                            </td>
                                            <td class="align-middle">
                                                {% if order.Order_status == 0 %}
                                                <strong>Delivery Status:&nbsp;&nbsp;</strong>Pending
                                                {% elif order.Order_status == 1 %}
                                                <strong>Delivery Status:&nbsp;&nbsp;</strong>Shipped
                                                {% elif order.Order_status == 2 %}
                                                <strong>Delivery Status:&nbsp;&nbsp;</strong>Delivered
                                                {% elif order.Order_status == 3 %}
                                                <strong>Delivery Status:&nbsp;&nbsp;</strong>Cancelled
                                                {% elif order.Order_status == 4 %}
                                                <strong>Delivery Status:&nbsp;&nbsp;</strong>Returned
                                                {% else %}
                                                <strong>Delivery Status:&nbsp;&nbsp;</strong>Invalid
                                                {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">{% if order.payment_method == 0 %}
                                                <strong>Payment Type:&nbsp;&nbsp;</strong>Razorpay
                                                {% elif order.payment_method == 1 %}
                                                <strong>Payment Type:&nbsp;&nbsp;</strong>Cash on Delivery
                                                {% elif order.payment_method == 2 %}
                                                <strong>Payment Type:&nbsp;&nbsp;</strong>Wallet
                                                {% else %}
                                                <strong>Payment Type:&nbsp;&nbsp;</strong>Invalid
                                                {% endif %}</td>
                                                <td class="align-middle"><strong>Date Ordered:&nbsp;&nbsp;</strong>{{ order.date_ordered }}</td>
                                                <td class="align-middle"><strong>Total Price:&nbsp;&nbsp;</strong>{{ order.total_price }}</td>
                                            </tr>
                                                {% if order.Order_status == 2  %}
                                                <td class="align-middle"><a href="">Delivered</a></td>
                                                {% elif order.payment_status == 2 %}
                                                <td class="align-middle"><a href="">Payment Failed</a></td>
                                                {% elif order.Order_status == 4 %}
                                                <td class="align-middle"><a href=""></a></td>
                                                {% elif order.is_cancel %}
                                                <td class="align-middle"><a href="">cancelled</a></td>
                                                {% else %}
                                                <td class="align-middle">
                                                    <button><a href="#" class="cancel-order" data-order-id="{{ order.id }}">Cancel</a></button>
                                                </td>
                                                
                                                
                                                {% endif %}
                                            
        
                                                <td class="align-middle">
                                                    {% if order.Order_status == 2  %}
                                                    <button><a href="{% url 'returnorder' pk=order.id %}" class="return-order" data-order-id="{{ order.id }}">Return</a></button>
                                                    {% elif order.Order_status == 4 %}
                                                    <a href="" class="" >Returned</a>
                                                    {% else %}
                                                    <a href="" class="" ><br></a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if order.Order_status == 2 %}
                                                    <a href="{% url 'invoice' order_id=order.id %}">Invoice</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if order.payment_status == 0 %}
                                                    <a href="{% url 'payment' order_id=order.id %}">Continue Your Payment</a>
                                                    {% endif %}
                                                </td>
                                        </tr>
                                    
                                </tbody>
                            </table>
                            
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


<div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'css/adminuser/assets//js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'css/adminuser/assets//js/popper.min.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/app.js' %}"></script>

    <script>
        $(document).ready(function() {
            $(".cancel-order").on("click", function(e) {
                e.preventDefault();
                var orderId = $(this).data("order-id");
                if (confirm("Are you sure you want to cancel this order?")) {
                    window.location.href = "{% url 'cancelorder' pk=0 %}".replace('0', orderId);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".return-order").on("click", function(e) {
                e.preventDefault();
                var orderId = $(this).data("order-id");
                if (confirm("Are you sure you want to return this order?")) {
                    window.location.href = "{% url 'returnorder' pk=0 %}".replace('0', orderId);
                }
            });
        });
    </script>
    
</body>


<!-- profile23:03-->
</html>