<!DOCTYPE html>
<html lang="en">


<!-- profile22:59-->
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/adminuser/assets//img/favicon.ico">
    <title>AJWA TECH|userprofile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminuser/assets//css/style.css' %}">
    
<style>
    .page-wrapper {
        left: 0;
        margin-left: 60px;
        padding-top: 50px;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .page-wrapper > .content {
        padding: 30px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; /* Adjust padding as needed */
    }
    
    .brand-title {
        color: white;
        font-size: 30px; /* Adjust font size as needed */
    }
    @media (min-width: 576px) and (max-width: 992px) {
        .header-left {
            order: 2;
            text-align: center; /* Center the brand title */
        }
    
        .mobile_btn {
            order: 1;
            margin-left: auto; /* Move the toggle button to the right */
        }
    
        .user-menu {
            display: none; /* Hide the user menu on medium screens */
        }
    
        .mobile-user-menu {
            display: block; /* Show the mobile user menu on medium screens */
            margin-left: auto; /* Move the mobile user menu to the right */
        }
    }
</style>
    
</head>

<body>
    <div class="main-wrapper">
        <div class="header" style="background-color: #D19C97 ;">
			<div class="header-left">
                <span class="brand-title">AJWA TECH</span>
			</div>
			<a id="mobile_btn" class="mobile_btn float-left" href=""><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static 'css/adminuser/assets//img/user.jpg' %}" width="40" alt="Admin">
							
                            <span class="status online"></span>
                            
                        </span>
                        <span>User</span>
                    </a>
					<div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'index' %}">Home</a>
						<a class="dropdown-item" href="{% url 'addprofile' %}">Add Profile</a>
						
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'index' %}">Home</a>
                    <a class="dropdown-item" href="{% url 'addprofile' %}">Add Profile</a>
                    
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-10 col-9">
                        <h4 class="page-title">My Profile</h4>
                    </div>

                    <div class="col-sm-10 col-9 text-right m-b-30">
                        
                        <a href="{% url 'addprofile' %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Add Profile</a>
                    </div>
                </div>
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <!-- image position -->
                                        <a href="">
                                            {% if profile.profile_pic %}
                                            <img class="avatar" src="{{ profile.profile_pic.url }}" alt=""></a>
                                            {% else %}
                                            <img class="avatar" src="{% static 'css/adminuser/assets/img/user.jpg' %}" alt=""></a>
                                            {% endif %}
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                {% if users.name %}
                                                <h3 class="user-name m-t-0 mb-0">{{ users.name|upper }}</h3>
                                                <div class="staff-id"> <span class="title">Username:</span>
                                                    <span class="text"><a href="#">{{ users.user.username }}</a></span></div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Phone:</span>
                                                    <span class="text">{{ users.mobile }}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text">{{ users.user.email }}</span>
                                                </li>
                                                {% endif %}
                                                <li>
                                                    <span class="title">Birthday:</span>
                                                    {% if profile.birthdate %}
                                                    <span class="text">{{ profile.birthdate }}</span>
                                                    {% else %}
                                                    <br>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <span class="title">Address:</span>
                                                    {% for address in address_data %}
                                                    {% if address.is_primary %}
                                                    <span class="text">{{ address.street_address }},{{ address.city }},{{ address.district }},{{ address.state }},{{ address.zip_code }}</span>
                                                   
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% if not profile.address %}
                                                    <br>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <span class="title">Gender:</span>
                                                    {% if profile.gender %}
                                                    <span class="text">{% if profile.gender == 'M' %} Male {% elif profile.gender == 'F' %}Female {% else %}Other {% endif %}</span>
                                                    {% else %}
                                                    <br>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
				<div class="profile-tabs">
					<ul class="nav nav-tabs nav-tabs-bottom">
						<li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
						</ul>

					<div class="tab-content">
						<div class="tab-pane show active" id="about-cont">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h3 class="card-title">Order History</h3>
                            <div class="col-lg-12 table-responsive mb-5">
                                <table class="table table-bordered text-center mb-0">
                                    <thead class="bg-secondary text-dark">
                                        <tr>
                                            <th>Product image</th>
                                            <th>Products</th>
                                            <th>Trasaction id</th>
                                            <th>Order status</th>
                                            <th>Payment method</th>
                                            <th>Date ordered</th>
                                            <th>Price</th>
                                            <!-- <th>Cancel Status</th> -->
                                            <th>Cancel</th>
                                            <th>Return</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for order in ordered_items %}
                                        <tr>
                                            <td>{% for order_item in order.order_items.all %}
                                                {% for image in order_item.product.images.all|slice:":1" %}
                                                <img src="{{image.image.url}}" alt="" style="height: 35px;">
                                            
                                            {% endfor %}
                                            {% endfor %}
                                        </td>
                                        <td class="align-middle">
                                            {% if order.id %}
                                            <a href="{% url 'orderdetail' order_id=order.id %}">
                                            {% for order_item in order.order_items.all %}
                                            <!-- {% for image in order_item.product.images.all|slice:":1" %}
                                            
                                             <img src="{{image.image.url}}" alt="" style="height: 25px;">
                                            
                                            {% endfor %} -->
                                                {{ order_item.product.name }} X {{ order_item.quantity }}
                                                <!-- Add any additional product information as needed -->
                                                <br>
                                            {% endfor %}
                                            </a>
                                            {% endif %}
                                        
                                        </td>
                                        <td class="align-middle">{{ order.transaction_id}}</td>
                                        <td class="align-middle">{% if order.Order_status == 0 %} Pending
                                            {% elif order.Order_status == 1 %}Shipped
                                            {% elif order.Order_status == 2 %}Delivery
                                            {% elif order.Order_status == 3 %}Cancel
                                            {% elif order.Order_status == 4 %}Return
                                            {% else %}Invalid
                                            {%endif%}</td>
                                        <td class="align-middle">{% if order.payment_method == 0 %} Razorpay
                                            {% elif order.payment_method == 1 %}Cash on Delivery
                                            {% elif order.payment_method == 2 %}Wallet
                                            {% else %}Invalid
                                            {%endif%}</td>
                                        <td class="align-middle">{{ order.date_ordered  }}</td>
                                        <td class="align-middle">{{ order.total_price}}</td>
                                        <!-- <td class="align-middle">{% if order.is_cancel %}Cancelled{% else %}Not cancelled {% endif %}</td> -->
                                        {% if order.Order_status == 2  %}
                                        <td class="align-middle"><a href="">Delivered</a></td>
                                        {% elif order.Order_status == 4 %}
                                        <td class="align-middle"><a href="">Returned</a></td>
                                        {% elif order.payment_status == 2 %}
                                        <td class="align-middle"><a href="">Payment Failed</a></td>
                                        {% elif order.is_cancel %}
                                        <td class="align-middle"><a href="">cancelled</a></td>
                                        {% else %}
                                        <td class="align-middle">
                                            <a href="#" class="cancel-order" data-order-id="{{ order.id }}">Cancel</a>
                                        </td>
                                        <!-- <td class="align-middle"><a href="{% url 'cancelorder' pk=order.id %}">cancel</a></td> -->
                                        
                                        {% endif %}
                                        <td class="align-middle">
                                            {% if order.Order_status == 2  %}
                                            <a href="#" class="return-order" data-order-id="{{ order.id }}">Return</a>
                                            {% elif order.Order_status == 4 %}
                                            <a href="" class="" >Returned</a>
                                            {% else %}
                                            <a href="" class="" >-----</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                        
                                            {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                 
                    </div>
                </div>
						</div>
						
					</div>
				</div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'css/adminuser/assets//js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'css/adminuser/assets//js/popper.min.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'css/adminuser/assets//js/app.js' %}"></script>

    <script>
        $(document).ready(function() {
            $(".cancel-order").on("click", function(e) {
                e.preventDefault();
                var orderId = $(this).data("order-id");
                if (confirm("Are you sure you want to cancel this order?")) {
                    window.location.href = "{% url 'cancelorder' pk=0 %}".replace('0', orderId);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".return-order").on("click", function(e) {
                e.preventDefault();
                var orderId = $(this).data("order-id");
                if (confirm("Are you sure you want to Return this order?")) {
                    window.location.href = "{% url 'returnorder' pk=0 %}".replace('0', orderId);
                }
            });
        });
    </script>
</body>


<!-- profile23:03-->
</html>