{% extends 'adminuser/index.html' %}

{% block midcontent %}

{% load static %}
<div class="page-wrapper">
    <div class="content">
        <center>
            {% for message in messages %}
                            <div class="{% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% endif %}">
                                {{ message }}
                            </div>
            {% endfor %}
        </center>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Product Offer</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="post" id="addProductOffer">
                    {% csrf_token %}
                    <div class="row">
                       <div class="col-sm-6">
                            <div class="form-group">
                                <label>Products</label>
                                <select class="form-control" name="product">
                                    <option value="" selected disabled>Select Product</option>
                                    {% for product in products %}
                                        
                                            <option value="{{ product.id }}">{{product.name}}</option>
                                        
                                    {% endfor %}
                                    <!-- Add more categories as needed -->
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>percentage</label>
                                <input class="form-control" type="number" name="percentage">
                            </div>
                        </div>
                         
                    </div>
                    
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" type="submit">Create Product offer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
    $().ready(function () {
        $("#addProductOffer").validate({
            rules: {
                product: {
                    required: true,
                },
                percentage: {
                    required: true,
                    validNumber: true,
                },
            },
            messages: {
                product: {
                    required: "Please select a product.",
                },
                percentage: {
                    required: "Please enter your product discount percentage.",
                    validNumber: "Please enter a valid discount percentage (non negative integer).",
                },
                
            },
        });

       
        $.validator.addMethod(
            "validNumber",
            function (value, element) {
                return /^\d+$/.test(value);
            },
            "Please enter a valid product price (non negative number)."
        );
        
    });
</script>

<script>
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
        // Select all elements with the class 'messages' (adjust as needed)
        var messageElements = document.querySelectorAll('.success-message,.error-message');

        // Set a timeout to hide each message after 5000 milliseconds (5 seconds)
        messageElements.forEach(function(messageElement) {
            setTimeout(function() {
                messageElement.style.display = 'none';
            }, 5000);  // Adjust the time as needed (in milliseconds)
        });
    });
</script>

{% endblock %}