{% extends 'adminuser/index.html' %}

{% block midcontent %}
{% load static %}
<div class="page-wrapper">
<div class="content">
    <center>
        {% for message in messages %}
                        <div class="{% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% endif %}">
                            {{ message }}
                        </div>
        {% endfor %}
    </center>
    <form method="POST">
        {% csrf_token %}
        <h4>Custom Date:</h4>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">
        <label for="start_date">End Date:</label>
        <input type="date" id="start_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
        <!-- <label for="start_date">End Date:</label>
        <input type="date" id="End_date" name="end_date" value="{{ start_date|date:'Y-m-d' }}"> -->
        <button type="submit">Apply</button>
    </form>
    <!-- <form method="GET" >
        <h4>Selected Report:</h4>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
    
        <label for="report_type">Report Type:</label>
        <select id="report_type" name="report_type">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
        </select><br>
    
        <input type="submit" value="Generate Report">
    </form> -->
    <form method="GET">
        <h4>Selected Report:</h4>
        <!-- <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}"><br> -->
    
        <label>Report Type:</label><br>
        <input type="radio" id="daily" name="report_type" value="daily" {% if report_type == 'daily' %}checked{% endif %}>
        <label for="daily">Daily</label>
    
        <input type="radio" id="weekly" name="report_type" value="weekly" {% if report_type == 'weekly' %}checked{% endif %}>
        <label for="weekly">Weekly</label>
    
        <input type="radio" id="monthly" name="report_type" value="monthly" {% if report_type == 'monthly' %}checked{% endif %}>
        <label for="monthly">Monthly</label>
    
        <input type="radio" id="yearly" name="report_type" value="yearly" {% if report_type == 'yearly' %}checked{% endif %}>
        <label for="yearly">Yearly</label>
    
        <input type="submit" value="Generate Report">
    </form>
    
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div class="dash-widget">
                <span class="dash-widget-bg1"><i class="fa-brands fa-first-order-alt" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Total Orders</h3>
                    <span class="widget-title1">{{orders_count}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <div class="dash-widget">
                <span class="dash-widget-bg2"><i class="fa-solid fa-dollar-sign"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Total Payment</h3>
                    <span class="widget-title2">${{ total_payment_amount }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
            <div class="dash-widget">
                <span class="dash-widget-bg3"><i class="fa-solid fa-money-bill" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Coupon discount</h3>
                    <span class="widget-title3">${{ total_coupon_price_all_products }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
            <div class="dash-widget">
                <span class="dash-widget-bg4"><i class="fa-solid fa-percentage" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Product Offers</h3>
                    <span class="widget-title4">${{ total_offer_price_all_products }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
            <div class="dash-widget">
                <span class="dash-widget-bg1"><i class="fa-brands fa-laravel" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>Total Savings</h3>
                    <span class="widget-title1">${{ Total_savings }}</span>
                </div>
            </div>
        </div>
    </div>
    
    <canvas id="dailyOrderChart"></canvas>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Recent Orders</h4>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Address</th>
                                    <th>Date</th>
                                    <th class="text-right">Payment Method</th>
                                    <!-- <th>Order status</th> -->
                                    <th>Price</th>
                                </tr>
                                {% for order in order %}
                                {% if order.complete %}
                                <tr>
                                    
                                    <td >
                                        <h2>{{forloop.counter}}</h2>
                                    </td>                 
                                    <td><h5 class="time-title p-0">{{order.address.street_address}},{{order.address.city}}</h5>
                                        <p>{{order.address.country}},{{order.address.state}}</p>
                                    </td>
                                    <td><h5 class="time-title p-0">{{order.date_ordered}}</h5></td>
                                    <td class="text-right">
                                        {% if order.payment_method == 0 %}
                                        Razropay
                                        {% elif order.payment_method == 1 %}
                                        Cash on delivery
                                        {% elif order.payment_method == 2 %}
                                        Wallet
                                        {% else %}
                                        none
                                        {% endif %}
                                    </td>
                                    <!-- <td>{% if order.Order_status == 0 %}
                                        Pending
                                        {% elif order.Order_status == 1 %}
                                        Shipped
                                        {% elif order.Order_status == 2 %}
                                        Delivery 
                                        {% elif order.Order_status == 3 %}
                                        Cancel
                                        {% elif order.Order_status == 0 %}
                                        Return
                                        {% endif %} -->
                                    </td>
                                    <td><h5 class="time-title p-0">$&nbsp;{{order.total_price}}</h5></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card member-panel">
                <div class="card-header bg-white">
                    <h4 class="card-title mb-0">Payment types</h4>
                </div>
                <div class="card-body">
                    <ul class="contact-list">
                        <li>
                            {% for payment_types in payment_types %}
                            <div class="contact-cont">
                                <span style="font-size: large;">{% if payment_types.payment_method == 0 %}Razorpay
                                                                {% elif payment_types.payment_method == 1 %}Cash on delivery
                                                                {% elif payment_types.payment_method == 2 %}Wallet
                                                                {% endif %}
                                </span>: <p class="font-size: x-large; display: inline-block; margin-bottom: 0;" style="font-size: x-large;">{{ payment_types.total_payment }}</p>
                            </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Cancelled Orders</h4>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Address</th>
                                    <th>Date</th>
                                    <th class="text-right">Payment Method</th>
                                    <!-- <th>Order status</th> -->
                                    <th>Price</th>
                                </tr>
                                {% for order in cancel_order %}
                                {% if order.complete and order.is_cancel %}
                                <tr>
                                    
                                    <td >
                                        <h2>{{ forloop.counter }}</h2>
                                    </td>                 
                                    <td><h5 class="time-title p-0">{{order.address.street_address}},{{order.address.city}}</h5>
                                        <p>{{order.address.country}},{{order.address.state}}</p>
                                    </td>
                                    <td><h5 class="time-title p-0">{{order.date_ordered}}</h5></td>
                                    <td class="text-right">
                                        {% if order.payment_method == 0 %}
                                        Razropay
                                        {% elif order.payment_method == 1 %}
                                        Cash on delivery
                                        {% elif order.payment_method == 2 %}
                                        Upi
                                        {% else %}
                                        none
                                        {% endif %}
                                    </td>
                                    <!-- <td>{% if order.Order_status == 0 %}
                                        Pending
                                        {% elif order.Order_status == 1 %}
                                        Shipped
                                        {% elif order.Order_status == 2 %}
                                        Delivery 
                                        {% elif order.Order_status == 3 %}
                                        Cancel
                                        {% elif order.Order_status == 0 %}
                                        Return
                                        {% endif %} -->
                                    </td>
                                    <td><h5 class="time-title p-0">$&nbsp;{{order.total_price}}</h5></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card member-panel">
                <div class="card-header bg-white">
                    <h4 class="card-title mb-0">Payment types</h4>
                </div>
                <div class="card-body">
                    <ul class="contact-list">
                        <li>
                            {% for payment_types in payment_types %}
                            <div class="contact-cont">
                                <span style="font-size: large;">{% if payment_types.payment_method == 0 %}Razorpay
                                                                {% elif payment_types.payment_method == 1 %}Cash on delivery
                                                                {% elif payment_types.payment_method == 2 %}Wallet
                                                                {% endif %}
                                </span>: <p class="font-size: x-large; display: inline-block; margin-bottom: 0;" style="font-size: x-large;">{{ payment_types.total_payment }}</p>
                            </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Top 10 Product selling Category </h4> 
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table mb-0 new-patient-table">
                            
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Category Name</th>
                                    <th>Product Count</th>
                                </tr>
                                {% for category in sorted_category_data|slice:":10" %}
                                <tr>
                                    <td ><h2>{{forloop.counter}}</h2></td>                 
                                    <td><h5 class="time-title p-0">{{ category.category }}</h5></td>
                                    <td><h5 class="time-title p-0">{{ category.count }}</h5></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Top 10 Product Brand </h4> 
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table mb-0 new-patient-table">
                            
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Brand Name</th>
                                    <th>Total Product sold</th>
                                </tr>
                                {% for brand in sorted_brand_data|slice:":10" %}
                                <tr>
                                    <td ><h2>{{forloop.counter}}</h2></td>                 
                                    <td><h5 class="time-title p-0">{{ brand.brand_name }}</h5></td>
                                    <td><h5 class="time-title p-0">{{ brand.count }}</h5></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Top 10 Products </h4> 
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table mb-0 new-patient-table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Poduct Name</th>
                                    <th>Category</th>
                                    <th >Price</th>
                                    <th>Product Count</th>
                                </tr>
                                {% for product in sorted_product_data|slice:":10" %}
                                
                                <tr> 
                                    <td ><h2>{{forloop.counter}}</h2></td>                 
                                    <td><h5 class="time-title p-0">{{ product.name }}</h5> </td>
                                    <td><h5 class="time-title p-0">{{ product.category }}</h5></td>
                                    <td >{{ product.price }}</td>
                                    <td><h5 class="time-title p-0">{{ product.count }}</h5></td>
                                </tr>
                                
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card" id="container_content">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Proudct sales report</h4> 
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table mb-0 new-patient-table">
                            
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Product Name</th>
                                    <!-- <th>Product Category</th> -->
                                    <th>Product price</th>
                                    <th>Product offer</th>
                                    <th>Total item sold</th>
                                    <th>Total sale</th>
                                </tr>
                                {% for offer in offers %}
                                <tr>
                                    <td ><h2>{{forloop.counter}}</h2></td>                 
                                    <td><h5 class="time-title p-0">{{ offer.order_items__product__name }}</h5></td>
                                    <!-- <td><h5 class="time-title p-0"></h5></td> -->
                                    <td><h5 class="time-title p-0">{{ offer.product_price }}</h5></td>
                                    <td><h5 class="time-title p-0">{{ offer.total_offer_price }}</h5></td>
                                    <td><h5 class="time-title p-0">{{ offer.count }}</h5></td>
                                    <td><h5 class="time-title p-0">{{ offer.total_price }}</h5></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p style="text-align: right;"><strong style="font-size: larger;">Total offers:</strong>{{ total_offer_price_all_products }}</p>
                    <p style="text-align: right;"><strong style="font-size: larger;">Total Coupon Discount:</strong>{{ total_coupon_price_all_products }}</p>
                    <p style="text-align: right;"><strong style="font-size: larger;">Total Payment:</strong>{{ Total_savings }}</p>
                </div>
            </div>
        </div>
        
    </div>

    
    
    
    <button type="button" class="btn btn-secondary btn_print m-3 h-auto" onclick="exportToPDF()" value="Export to PDF">
        <i class="fas fa-file-pdf"></i> Download as PDF
    </button>

    <button type="button" class="btn btn-secondary btn_print m-3 h-auto" onclick="export_data()" value="Export to excel"><i
          class="fas fa-file-excel"></i> Download as Excel</button>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    var ctx = document.getElementById('dailyOrderChart').getContext('2d');
    var labels = eval('(' + '{{ labels|escapejs }}' + ')');
    var data = eval('(' + '{{ data|escapejs }}' + ')');

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Daily Order Count',
                data: data,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
function exportToPDF() {
    const element = document.getElementById('container_content');
    const opt = {
      margin: 10,
      filename: 'sales_report.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'Landscape' },
    };

    html2pdf().from(element).set(opt).save();
  }



  function export_data() {
    let data = document.getElementById('container_content');
    var fp = XLSX.utils.table_to_book(data, { sheet: 'SalesReport' });
    XLSX.write(fp, {
      bookType: 'xlsx',
      type: 'base64'
    });
    XLSX.writeFile(fp, 'test.xlsx');
    }
</script>
{% endblock %}