{% extends 'adminuser/index.html' %}

{% block midcontent %}

{% load static %}
<div class="page-wrapper">
    <div class="content">
        <center>
            {% for message in messages %}
                            <div class="{% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% endif %}">
                                {{ message }}
                            </div>
            {% endfor %}
        </center>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Edit Product</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="post" id="editProduct">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input class="form-control" type="text" name="product_name" value="{{ product.name }}" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input class="form-control" type="number" name="product_price" value="{{ product.price }}" required>
                            </div>
                        </div><div class="col-sm-6">
                            <div class="form-group">
                                <label>Product Category</label>
                                <select class="form-control" name="product_category">
                                    <option value="{{ product.category }}" selected>{{ product.category }}</option>
                                        
                                    {% for category in cat %}
                                        {% if category.delete_status != 0%}
                                            {% if category.name %}
                                                <option value="{{ category.name }}">{{ category.name }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Stock</label>
                                <input class="form-control" type="number" name="product_stock" value="{{ product.stock }}" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Availabe&nbsp;&nbsp;
                                <input class="" type="checkbox" name="product_available" {% if product.available %}checked{% endif %}>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Priority</label>
                                <input class="form-control" type="number" name="product_priority" value="{{ product.priority }}" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" name="product_description" placeholder="Please write product descritpion with ;(semi-colon) separated.(End of one semicolon is a statement).No need to write semicolon in last statement.">{{ product.description }}</textarea>
                                        <!-- <input type="text" class="form-control " name="product_description"  required> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
    $().ready(function () {
        $("#editProduct").validate({
            rules: {
                product_name: {
                    required: true,
                    validProductName: true,
                },
                product_price: {
                    required: true,
                    validNumber: true,
                },
                product_stock: {
                    required: true,
                    validNumber: true,
                },
                product_priority: {
                    required: true,
                    validNumber: true,
                },
                product_description: {
                    required: true,
                    validDescription:true,
                },
            },
            messages: {
                product_name: {
                    required: "Please enter your product name.",
                    validProductName: "Please enter a valid product name (only characters).",
                },
                product_price: {
                    required: "Please enter your product price.",
                    validNumber: "Please enter a valid product price (non negative number).",
                },
                product_stock: {
                    required: "Please enter your product stock.",
                    validNumber: "Please enter a valid stock (non negative number).",
                },
                product_priority: {
                    required: "Please enter priority of your product .",
                    validNumber: "Please enter a valid priority (non negative number).",
                },
                product_description: {
                    required: "Please enter your product description.",
                    validDescription:"enter valid description."
                },
            },
        });

        $.validator.addMethod(
            "validProductName",
            function (value, element) {
                return /^[a-zA-Z][a-zA-Z0-9\s]*$/.test(value);
            },
            "Please enter a valid category name (only characters)."
        );
        $.validator.addMethod(
            "validNumber",
            function (value, element) {
                return /^\d+(\.\d+)?$/.test(value);
            },
            "Please enter a valid product price (non negative number)."
        );
        $.validator.addMethod(
            "validDescription",
            function (value, element) {
                // Add your custom validation logic for product description
                // You can adjust this according to your requirements
                return /^(?!\.+$)(?=.*[^\s])[^]*$/.test(value);
            },
            "Please enter a valid product description."
        );
        $("#product_stock").on("input", function () {
            var stockValue = parseInt($(this).val());
            var isAvailableCheckbox = $("#product_available");

            // Update the isAvailable checkbox based on the stock value
            isAvailableCheckbox.prop("checked", stockValue > 0);
        });

    });
</script>
<script>
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
        // Select all elements with the class 'messages' (adjust as needed)
        var messageElements = document.querySelectorAll('.success-message,.error-message');

        // Set a timeout to hide each message after 5000 milliseconds (5 seconds)
        messageElements.forEach(function(messageElement) {
            setTimeout(function() {
                messageElement.style.display = 'none';
            }, 5000);  // Adjust the time as needed (in milliseconds)
        });
    });
</script>
{% endblock %}