{% extends 'product/base_layout.html' %}
    {% block topbar %}

    {% include 'product/top_bar.html' %}
    
    {% endblock %}

    {% block navbar %}

    {% include 'product/navbar.html' %}
    
    {% endblock %}
    
    {% block feature %}

    {% include 'product/feature.html' %}
    
    {% endblock %}

    {% block category %}

    {% include 'product/category.html' %}
    
    {% endblock %}

    {% block product %}

    {% include 'product/product_list.html' %}
    
    {% endblock %}

    {% block footer %}

    {% include 'product/footer.html' %}
    
    {% endblock %}
    