{% load static %}
<!-- Categories Start -->
<div id="categories" class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        {% for category in categorys|slice:":9" %}
        {% if category.delete_status != 0 %}
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
            {% if category.total_products <= 1 %}
                <p class="text-right">{{ category.total_products }} Product</p>
            {% else %}
            <p class="text-right">{{ category.total_products }} Products</p>
            {% endif %}
                <a href="{% url 'category' slug=category.slug %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{{ category.image.url }}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">{{ category.name }}</h5>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
</div>
<!-- Categories End -->